.App-header {
  background-color: #222;
  height: 175px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Business-list.btn {
  padding-left: 0;
  margin-left: 0;
}

.search-button.btn {
  margin-right: 8px;
}
